:root {
  --color-blue-primary: #1f2937;
  --color-blue-secondary: #273549;
  --color-blue-tertiary: #2f3e53;
  --color-green-primary: #10b981;
  --color-green-secondary: #4adf86;
  --color-green-tertiary: #55f991;
  --color-medium-grey: #a2a4a7;
  --color-white: #ffffff;

  --ff-inter: "Inter", sans-serif;
  --ff-karla: "Karla", sans-serif;

  --fs-40: 2.5rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;

  --fw-40: 800;
  --fw-20: 400;
  --fw-16: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-blue-primary);
}

.container {
  min-height: 100vh;
  width: 85%;
  max-width: 550px;

  margin: 0 auto;
  padding: 5em 0;

  font-family: var(--ff-inter);
  color: var(--color-white);
}

.title {
  font-family: var(--ff-karla);
  font-size: var(--fs-40);
  font-weight: var(--fw-40);
  line-height: 0.9;
}

.title > span {
  color: var(--color-green-secondary);
}

.text {
  font-size: var(--fs-20);
  font-weight: var(--fw-20);
  color: var(--color-medium-grey);
  margin: 0.8em 0;
}

.button {
  font-size: var(--fs-16);
  font-weight: var(--fw-16);
  padding: 0.45em;
  margin: 0.5em 0 1.3em;

  background-color: var(--color-green-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.password {
  display: flex;
  gap: 18px;

  margin-top: 0.6em;
  padding: 2.2em 0;
  border-top: var(--color-blue-tertiary) 1px solid;
}

.password-1,
.password-2 {
  min-height: 39px;
  width: 100%;
  padding-top: 6px;

  font-size: var(--fs-16);
  font-weight: var(--fw-16);
  text-align: center;

  background: var(--color-blue-secondary);
  color: var(--color-green-tertiary);
  border-radius: 5px;
}
